body{
margin:0;	
padding: 0;
/*background-image: url('../images/fondo2.jpg');*/
background-repeat: no-repeat;
background-attachment: fixed;

}
.wn-contenedor{
	overflow: hidden;
	font-family: 'Titillium Web', sans-serif;

}
header {
	width: 100%;
	height: 100px;	
	background-color: #282830;
	/*background: rgba(0,0,0,.3);
	background-image: url('../images/fondo2.jpg');*/
}
.wn-header{
	width: 80%;
	margin:auto;}
.wn-logo{
	float:left;
	width: 30%;
	color: #ccc;
	font-size: 30px;
	font-weight: bold;
	line-height: 100px;
}
.wn-menu{float: right;width: 70%;}
.wn-menu ul{overflow: hidden;margin:0;padding: 0;list-style: none;}
.wn-menu ul li{	float: right;}
.wn-menu ul li a{
	overflow: hidden;
	text-decoration: none;
	padding: 10px 20px;
	color: #f2f2f2;
	line-height: 100px;
	font-size: 18px;
	border-bottom: green;
}
.wn-menu ul li a:hover{
	border-bottom: 3px solid #C82647;
	color: #C82647;
}
.wn-contenedor{
	overflow: hidden;

}
.wn-content{
	overflow: hidden;
	width: 80%;
	margin:auto;
	border:1px solid dotted black;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}	

/******************************************************************************************************************/
 										       /*Content*/
/******************************************************************************************************************/

.wn-content-blog{
	overflow: hidden;
	box-sizing:border-box;
	
	
}
.wn-contentb{
	box-sizing:border-box;
	float: left;
	width: 80%;
}
.wn-navbb{
	box-sizing:border-box;
	float: left;
	width: 20%;
	border:1px solid red;
}
.wn-contentb-cuerpo,.wn-navbbv{
	/*border:1px dotted red;*/
	margin:5px;

}
.wn-articulo{
	box-sizing:border-box;
	width: 100%;
	border:1px dotted green;
	padding: 10px;
}
.wn-articulo-head{
	overflow: hidden;
	box-sizing:border-box;
	background-color: #E7E7DE;
	
}
.wn-art-logo{
	float: left;
	width: 5%;
	}
.wn-tarticulo{
	overflow: hidden;
	float: left;
	width: 95%;
	height: 52px;
	line-height: 50px;
	font-size: 24px;
	font-weight: bold;
}
.wn-tarticulo-desc{
	overflow: hidden;
	width: 100%;
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	padding: 5px;
	height: 130px;

}
.wn-tarticulo-desc p{
	font-size: 16px;
	text-align: justify;
}

p.wn-tarticulo-t a{
	text-decoration: none;
	color: #D33257;
	font-size: 20px;
	font-weight: bold;
}
p.wn-tarticulo-t a:hover{
	color: #E26E67;
}
.wn-tarticulo-footer{
	overflow: hidden;
	border-left:1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	height:30px;
}
.wn-autor{
	float: left;
	width: 90%;
	line-height: 30px;
}
.wn-fecha{
	float: left;
	width: 10%;
	text-align: right;
	line-height: 30px;
	background: #FF6766;
}

/******************************************************************************************************************/
 										       /*Yellow*/
/******************************************************************************************************************/


/* CENTRADO DE IMAGENES EN UN DIV
.wn-imagens{
	width: 90px;
	vertical-align: middle;
}
.wn-primero,.wn-segundo,.wn-tercero{float: left;width: 33.3%;margin: 0px auto;text-align: center}*/



.wn-contenedor footer{
	overflow: hidden;
	width: 100%;
	background-color: black;
}
.wn-footer{
	margin-top: 10px;
	padding-top: 10px;
	width: 80%;
	margin: auto;
	padding-bottom: 10px;
}
.wn-division{
	float: left;
	width: 33.3%;
}

.wn-logito{
	font-weight: bold;
	font-size: 18px;
	color: #ccc;
	
}
.wn-d{
	font-size: 16px;
	color: #ccc;
}
.wn-dw{
	font-size: 16px;
	color: #ccc;
}
.wn-division ul{
	margin: 0;
	padding:0;
	list-style: none;
}
.wn-division ul li a{
	text-decoration: none;
	font-size: 14px;
	color: #ccc;
}
.wn-redess{
	font-size: 16px;
	color: #ccc;
}

.wn-desarrollox{
	clear: both;
	height: 30px;
	background-color: #282830;
}

.wn-desarrollox p{
	color: #ccc;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
}


/******************************************************************************************************************/
 										       /*about*/
/******************************************************************************************************************/

.wn-contentt{
	padding: 0;
	position: absolute;
	overflow: hidden;
	width: 100%;
	margin:auto;
	overflow: hidden;
	font-family: 'Titillium Web', sans-serif;
	background-color: #EFF4E4;
	}
 .wn-nav{
 	width: 12%;
 	float: left;
 	z-index: 2000;
	position: fixed;
	top: 50%;
	transform:translateY(-50%);
	background-color: #3E4651;
	height: 100%;
 	
  }
  .stick{
  	width: 12%;
 	float: left;
 	z-index: 2000;
	position: fixed;
	top: 50%;
	transform:translateY(-50%);
	background-color: #3E4651;
 	
  }

.wn-ancla span{
	font-size: 16px;
	padding-right: 10px;
	}
.wn-nav ul{
	list-style: none;
	margin:0;
	padding: 0;
}
.wn-nav ul li{
	overflow: hidden;
	height: 50px;
	line-height: center;

}
/*.wn-nav ul li:hover{
	background-color: black;
	border-left:3px solid #2C82C9;
}*/
.wn-hover{
	background-color: black;
	border-left:3px solid #2C82C9;
}
.wn-nav ul li a{
	
	box-sizing:border-box;
	display: block;
	text-decoration: none;
	font-size: 14px;
	line-height: 50px;
	color: #D6DAC2;
	padding-left: 10px;
}
.wn-nav ul li a:hover{
	color: #f2f2f2;
}
.wn-section{
 	width: 88%;
 	float: right;
 	
 }
 .wn-img{
 	width: 100%;
 	margin:auto;
 	position: relative;
 	background-color: #2CC990;
 }
 .wn-nom{
 	position: absolute;
 	top: 50%;
 	width: 100%;
 	left: 0;
 	text-align: center;
 	transform:translateY(-50%);
 }
 .wn-img img{
 	width: 100%;
 	height: auto;
 	opacity: 0.3;
 }
 .wn-ws{
 	font-size: 50px;
 	font-weight: bold;
 	border-bottom:3px double #f2f2f2;
 	width: 30%;
 	margin: auto;
 	color: #f2f2f2;
 	text-shadow:-2px 2px -1px #000;
 }
 .wn-esp{
 	font-weight: 45px;
 	font-weight: bold;
 	color: #f2f2f2;
 }
 .wn-sbmi{
	overflow: hidden;
 }
 .wn-sbtitulo{
 	margin-top: 10px;
 	width: 100%;
 	margin:auto;
 	height: 80px;
 	line-height: 80px;
 	color:  #3E4651;
 	font-weight: bold;
 	font-size: 30px;
 	text-align: center;
 	-webkit-box-shadow: -1px 3px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 10px -2px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 10px -2px rgba(0,0,0,0.75);
    background-color: #CCDFCC;
 }
 .wn-imgserv{
 	padding: 10px;
 	float: left;
 	width: 30%;
 	/*border:1px solid red;*/
 	/*background-color: #E6DCDB;*/
 	 }
 .wn-imgserv img{
 	overflow: hidden;
 	width: 100%;
 }
 .wn-desc{
 	box-sizing:border-box;
 	padding-left: 20px;
 	padding-right: 20px;
 	float: left;
 	width: 70%;
 	 }

 .wn-qsd,.wn-qhd{
 	font-size: 20px;
 	text-align: justify;
 }
 .wn-qsd ul li{
 	font-size: 24px;
 }



 .wn-qs,.wn-qh{
 	font-size: 30px;
 	text-align:left;
 	font-weight: bold;
 }
 .wn-content-sbm,.wn-content-apt,.wn-content-serv,.wn-content-cont,.wn-content-foo{
 	overflow: hidden;
 	padding-left: 30px;
 	padding-right: 30px;
 	padding-top: 40px;
 	padding-bottom: 40px;
 	/*border:3px dotted black;*/
 }
 .wn-designw{

 	overflow: hidden;
 	/*border:3px dotted blue;*/
 	margin-bottom: 10px;
 	background-color: #FFFFF7;
 	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
 }
 .wn-form{
 	padding-top: 10px;
 }
 .wn-content-contact{
 	overflow: hidden;
 	float: left;
 	width: 70%;
 	 }
 .w3-container{
 	/*border:1px solid blue;*/
 	background-color: #E7E7DE;
 	margin-bottom: 20px;
 	margin-top: 10px;
 	border-radius: 4px;

 }
 .w3-container p strong{
 	margin-top: 10px;
 }
 .w3-container label{
 	display: block;
 	font-size: 16px;
 	 }
 .w3-input{
 	font-size: 18px;
 	
 }
 .w3-btn{
 	margin-top: 10px;
 	width: 100px;
 	margin-bottom: 10px;
 }
 .wn-error{
 	color: #D33257;
 }
 .wn-mmensaje{
 	overflow: hidden;
 	width: 100%;
	background-color: #84E1B1;
	opacity: 0.5;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 16px;
 }
 .wn-cdetalle{
  	padding-bottom: 10px;
 	margin-top: 10px;
 	margin-left: 10px;
 	overflow: hidden;
 	background-color: #E7E7DE;
 	padding: 10px;
 	border-radius: 4px;
 }
 .wn-cdetalle ul li span img{
 	width: 23px;
 }
.wn-cdetalle ul{
	list-style: none;
	margin:0;
	padding:0;
}

.wn-cdetalle ul li {
	text-decoration: none;
	font-size: 16px;
	line-height: 16px;
	padding-bottom: 15px;
}
.wn-cdetalle ul li span{
	padding-right: 10px;
}
.wn-texto{
	margin-top: 10px;
	margin-bottom: 10px;
}
/******************************************************************************************************************/
 										       /*Barr*/
/******************************************************************************************************************/

.progress-striped{
	height: 25px;
	width: 70%;
	margin-bottom: 10px;
}
.wn-progres , .wn-porcentaje{
	line-height: 25px;
	padding-left: 5px;
	font-weight: bold;
}
.wn-json ul {
	list-style: none;
}
.wn-json ul li{
	font-size: 20px;
	margin-top: 7px;


}

.wn-json ul span {
color: #1BBC9B;
	
}
.wn-desarrollo-f {
	overflow: hidden;
	width: 100%;
	margin: auto;
	margin-bottom: 25px;
	background-color: #E6DCDB;
}
.wn-desarrollo-f  p strong {
	float: right;
	line-height: 25px;
	padding-right: 25px;
}







