*{
	margin:0;
	padding: 0;
	
}
body{

}

.evt-content{

}

nav{
	position: fixed;
	z-index: 20000;
	float: left;
	width: 12%;
	background: #282830;
	height: 100%;

}
.evt-logo{
	height: 65px;
	line-height: 65px;
	background-color: #2C82C9;
	color: #f2f2f2;
	font-size: 25px;
	margin-bottom: 10px;
	border-right:1px solid #f2f2f2;
	padding-left: 10px;
}

.evt-nav ul{
	list-style: none;
}
.evt-nav ul li{
	height: 60px;
	line-height: 60px;
}
.evt-nav ul li:hover{
	background-color: black;
	color: #f2f2f2;
	border-left: 4px solid #3D8EB9;
}
.evt-nav ul li a 
{
	text-decoration: none;
	color: #888888;
	display: block;
}
.evt-nav ul li a:hover{
	color: #f2f2f2;
}
.evt-nav ul li a span{
	padding-right: 10px;
	padding-left: 5px;
	font-size: 15px;
}
section{
	float: right;
	width: 88%;
	}

.evt-header{
	width: 100%;
	height: 65px;
	background-color: #2C82C9;
}
.evt-h1{
	float: left;
	width: 30%;
	line-height: 65px;
	padding-left: 20px;
	color: #f2f2f2;
}

.evt-h2{
	float: left;
	width: 70%;
	line-height: 65px;
	padding-right: 20px;
	text-align: right;
	color: #f2f2f2;
}
.evt-h2 a{
	color: #f2f2f2;
}
.evt-h2 a:hover{
	color: #f7f7f7;
}

.evt-body{
	
	padding:20px;
	/*border:1px dotted red;*/
}
.evt-contenido{
	/*border:1px solid red;*/
	margin-left: 40px;
	margin-right: 40px;
	background-color: #F2F8EA;
	}

.evt-footer{

	
	height: 60px;
	background-color: #E7E7E7;
	line-height: 60px;
	text-align: center;
}

